/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #262623;
  color: white;
  width: 100%;
  text-align: center;
}

.header a {
  color: white;
  text-decoration: none;
}

//Button
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.default-button {
  border-collapse: separate;
  border-spacing: 15px;
  background-color: #1DA851;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.default-button:hover {
  background-color: #25D366;
}

//footer
.footer {
  background-color: #f4f4f4;
  color: #555;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  height: 2.5rem;   
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.image-box {
  margin: 0 20px;
}
.image-box img {
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.image-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}